body{
  background: black;
}

.game-of-life-grid{
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  place-items: center;
}
.grid{
  align-content: center;
}
.information-class{
  color: white;
  place-items: left;
}